auth:
  prefix: /topics/
  urlvalidreg: ^\d{3}-\d(-\d{3}-\d)?\.[a-z0-9-]+\.(db|cdc|cmd|sys|log|tmp)\.[a-z0-9-.]+\.\d+$
  acl:
  - path: ^888-8\.example\.db\.
    users:
    - avro-user
    methods:
    - POST
    contenttype:
    - application/vnd.kafka.avro.v2+json
